@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color: rgb(73, 73, 175);
    
    height: 100vh;
    width: 100vw;
}

div {
    margin: 60px;
    height: 50px;
    width: 100px;

    a {
        text-decoration: none;
        font-family: "Comic Neue", cursive;
        color: white;
        padding: 30px;
        height: 50px;
        width: 100px;

        border-radius: 16px;
    }
}

#google-btn {
    background-color: rgb(255, 91, 91);
}
#youtube-btn {
    background-color: red;
}
#facebook-btn {
    background-color: rgb(70, 113, 255);
}
#instagram-btn {
    background-color: rgb(230, 29, 153);
}
