* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#jogo {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?q=80&w=1920&auto=format&fit=crop');
    background-size: cover;
    background-position: center;

}

#pontos {
    position: absolute;
    color: rgb(68, 168, 235);
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#barra {
    width: 120px;
    height: 15px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #00ffff, #0088cc);
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffff, inset 0 2px 4px rgba(255, 255, 255, 0.5);
}

.bolinha {
    width: 26px;
    height: 26px;
    background: radial-gradient(circle at 30% 30%, #ff88ff, #680324 75%, #880022 100%);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px #a5093d, 0 0 20px rgba(219, 8, 75, 0.4);
}