@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

header {
    height: 100px;
    width: 100vw;

    padding: 0px 100px 0px 54px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    nav {
        width: 430px;
        height: 24px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: #000000;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img {
        width: 50px;
        height: 32px;
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 34px;
    }
}

#account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

    a {
        padding: 2.3px 4.7px;
        text-decoration: none;
        height: 28px;
        width: 28px;
    }
}

main{

    #first-section {
        height: 716.83px;
        width: 100vw;
        background-image: url(assets/scandinavian-interior-mockup-wall-decal-background\ 1\ \(1\).png);
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: end;
        align-items: center;
        
        #new-arrival {
            background-color: #FFF3E3;
            height: 443px;
            width: 643px;
            border-radius: 10px;
            margin-right: 58px;

            padding: 62px 39px 37px 43px;

            p {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 3px;
            }

            h2 {
                font-family: "Poppins", sans-serif;
                font-size: 52px;
                font-weight: bold;
                line-height: 65px;
                color: #B88E2F;
                width: 400px;
                margin-top: 4px;
                margin-bottom: 17px;
            }

            h3 {
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                width: 550px;
                margin-top: 17px;
            }

            button {
                text-decoration: none;
                border: none;
                background-color: #B88E2F;
                color: white;
                margin-top: 46px;
                width: 222px;
                height: 74px;

                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

footer {
    width: 100vw;
    height: 505px;
    

    border-top: 1px solid #D9D9D9;

    
    padding: 48px 100px 38px 100px;

    #info-container {
        height: 419px;

        display: flex;
        gap: 138px;

        #footer-address {

            h2 {
                font-family: "Poppins", sans-serif;
                font-size: 24px;
                font-weight: bold;

            }
            
            p {
                color: #9F9F9F;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                margin-top: 54px;

            }
        }

        #footer-help {
            h2 {
            color: #9F9F9F;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 55px;
        }
        
        nav{
            display: flex;
            flex-direction: column;
            gap: 46px;
            
            a {
                text-decoration: none;
                color: #000000;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }
        }

        #footer-newsletter {
            h2 {
            color: #9F9F9F;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 55px;
            }

            div {
                display: flex;
                gap: 11px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #000000;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 500;

                    border-bottom: 2px solid #000000;
                }
                
                input {
                    height: 25px;
                    width: 200px;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid black;
                    padding: 3px 27px 3px 0px;
                    background-color: #F5F5F5;

                    color: #9F9F9F;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    #footer-links {
        h2 {
            color: #9F9F9F;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 55px;
        }
        
        nav{
            display: flex;
            flex-direction: column;
            gap: 46px;
            
            a {
                text-decoration: none;
                color: #000000;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    #rights-reverved {
        border-top: 1px solid #D9D9D9;
        
        margin-top: 58px;
        padding: 38px;
        height: 59px;

        display: flex;
        align-items: flex-end;
    }
}